<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body>
    <header class="site-header">
        <div class="container">
            <a href="index.html" class="logo">
                <img src="/img/a-logo-with-the-text-manto-de-campeoes-there-is-a--SKFvQwCWQpu2tFKa5eJKFw-OWun59IXSXusnQgP6vaByw.png"
                    alt="" class="logo-img">
            </a>
            <nav class="main-nav">
                <a href="index.html">Home</a>
                <a href="produtos.html">Produtos</a>
            </nav>
            <div class="header-actions">
                <a href="#" aria-label="Favoritos"><i class="fas fa-heart"></i></a>
                <a href="#" aria-label="Conta"><i class="fas fa-user"></i></a>
                <a href="#" aria-label="Carrinho"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>
    </header>
    </>
    {{{ body }}}
    <footer class="site-footer">
        <div class="container">
            <p>&copy; 2024 Manto de Campeões. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
<script src="/js/script.js"></script>

</html>