
    <section class="grid">
        <div class="rec-form" id="rec">
            <form action="" class="rec-forms">
                <fieldset class="rec-grid">
                    <h2>Recuperação de senha</h2>

                    <div class="input-rec">
                        <label>Email</label>
                        <input type="email" name="email" placeholder="seu email">

                        <label>Primeira pergunta</label>
                        <input list="lista-perguntas" name="pergunta1" id="pergunta1 " placeholder="Escolha a primeira pergunta" >

                        <datalist id="lista-perguntas">
                            <option value="Qual o nome da sua mãe?">
                            <option value="Qual seu animal de estimação favorito?">
                            <option value="Em que cidade você nasceu?">
                        </datalist><br>
                        <input type="text" name="primeiraPergunta" placeholder="Primeira pergunta" >
                        <label>Segunda pergunta</label>
                        <input list="lista-perguntas" name="pergunta2" id="pergunta2 " 
                            placeholder="Escolha a pergunta 1">
                        <datalist id="lista-perguntas">
                            <option value="Qual o nome da sua mãe?">
                            <option value="Qual seu animal de estimação favorito?">
                            <option value="Em que cidade você nasceu?">
                        </datalist><br>
                        <input type="text" name="segundaPergunta" placeholder=" segunda pergunta" >

                        <input type="submit" value="Enviar" id="button-rec" class="button">
                        <input type="reset" value="Apagar" id="button-reset-rec" class="button">
                    </div>
                </fieldset>
            </form>

        </div>
        </div>
    </section>
 