<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <header>
            <nav class="navegador">
                <div class="logo">
                    <a href="/index.html">
                        <img src="/img/a-logo-with-the-text-manto-de-campeoes-there-is-a--SKFvQwCWQpu2tFKa5eJKFw-OWun59IXSXusnQgP6vaByw.png"
                            alt="" class="logo-img">
                    </a>
                </div>
                <div class="nav-link">
                    <ul>
                        <a href="#">Home</a>
                        <a href="#">Produtos</a>
                    </ul>
                </div>
                <div class="buttons-nav">
                    <!-- <input type="text" placeholder="pesquisar"> -->
                    <a href="#"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></a>
                    <a href="#"><i class="fa-solid fa-user" style="color: #ffffff;"></i></a>
                    <a href="#"><i class="fa-solid fa-cart-shopping" id="btn-carrinho" style="color: #ffffff;"></i></a>
                </div>
            </nav>
        </header>
    </div>
    {{{ body }}}
</body>
</html>